{% extends "dashboard.html" %}
{% load static %}
{% block estilo %}
<link rel="stylesheet" href="{% static 'css/estilo_tabela.css' %}"> 
{% endblock %}

{% block title %}
    Assinantes
{% endblock %}

{% block content %}
<main>
    
    <div class="pesquisa">
        <h2>Lista de Assinantes</h2>
        <form method="get">
            {{ form.busca }}
            <input class="Buscar" type="submit" value="Buscar"> 
        </form>
    </div>
     <div class="tabela">
            {% if assinantes %}
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Editar</th>
                        <th>Deletar</th>
                        <th>Definir Mensalidade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assinante in assinantes %}
                    <tr>
                        <td>{{ assinante.nome }}</td>
                        <td>{{ assinante.email }}</td>
                        <td>{{ assinante.telefone }}</td>
                        <td><a href="{% url 'atualizar_assinante' assinante.id %}" class="editar">EDITAR</a></td>
                        <td><a href="{% url 'deletar_assinante' assinante.id %}" class="deletar">DELETAR</a></td>
                        <td><a href="{% url 'cadastra_mensalidade' assinante.id %}" class="definir_mensalidade">Definir Mensalidade</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="empty">Nenhum Assinante Cadastrado</p>
            {% endif %}
        </div>
</main>
{% endblock %}