{% extends "dashboard.html" %}
{% load static %}
{% block estilo %}
    <link rel="stylesheet" href="{% static 'css/estilo_form.css' %}">
{% endblock %}

{% block title %}
    Cadastro de Assinantes
{% endblock %}

{% block content %}
<main>
    <div class="form_assinantes">
        <div class="cadastro_form">
            <h1>Cadastro de Assinantes</h1>
            <form method="post">
                {% csrf_token %}
                {{form}}
                <p><input type="submit" value="Registrar"></p>
            </form>
        </div>
    </div>
</main>
{%endblock%}