{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo_tabela.css' %}">
    <title>{% block title %}Lista de Assinantes{% endblock %}</title>
</head>
<body>
    <div class="conteiner">
        <div class="conteudo_funcoes">           
            <div class="funcionalidades">
                <p>
                    <a href="{% url 'cadastro_assinantes' %}">Cadastrar um Assinante</a>
                </p>
            </div>
            <div class="funcionalidades">
                <p>
                    <a href="{% url 'assinantes' %}">Visualizar Assinantes</a>
                </p>
            </div>
            <div class="funcionalidades">
                <p>
                    <a href="{% url 'mensalidades' %}">Visualizar Mensalidades</a>
                </p>
            </div>
 
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>