{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block estilo %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/dashboard_adm.css' %}">
    <title>{% block title %}dashboard{% endblock %}</title>
</head>
<body>
   <div class="container">
     <header>
        <div class="cabecalho">
            <a href="{% url 'home' %}"><img src="{% static 'img/Logo-samp.jpg' %}" alt="logo do site, samp" width="100%" height="108px"></a>
        </div>
    </header>
     <nav>
         <div class="conteudo_funcoes"> 
            {% if request.user.is_authenticated and request.user.empresa %}
            <div class="link">
            <a href="{% url 'cadastro_assinantes' %}">
                <div class="funcionalidades">
                <p>Cadastrar um Assinante</p>
            </div>
            </a>
            </div>
            <hr>
            <div class="link">  
            <a href="{% url 'assinantes' %}">
            <div class="funcionalidades">
                <p>Assinantes</p>
            </div>
            </a>
            </div>
            <hr>
            <div class="link">
            <a href="{% url 'mensalidades' %}">
            <div class="funcionalidades">
                <p>Mensalidades</p>
            </div>
            </a>
            </div>
            <hr>
            <div class="link">
            <a href="{% url 'cadastra_servico' %}">
            <div class="funcionalidades">
                <p>Cadastra serviço</p>
            </div>
            </a>
            </div>
            <hr>
            <div class="link">
            <a href="{% url 'servicos_empresa' %}">
            <div class="funcionalidades">
                <p>Meus serviços</p>
            </div>
            </a>
            </div>
            
             {% elif request.user.is_authenticated %}
            <div class="link">
                <a href="">
                    <div class="funcionalidades">
                        <p>Minhas Assinaturas</p>
                    </div>
                </a>
            </div>
            {% endif %}
            <div class="funcionalidades">
            <a href="{% url 'logout_view' %}">
            <div class="logout"> 
                <p>
                    <img src="{% static 'img/simbolo-de-logout.png' %}" alt="simbolo-de-logout">
                        <p>Sair</p>
                </p>
            </div>
            </a> 
            </div>
        </div>
    </nav>
    {% block content %}
    {% if request.user.is_authenticated and request.user.empresa %}
    <main>
        <div class="infoEmpresa">
            <div class="cabecalhoDash">
                <h2> Nome da empresa: {{empresa.nome}}</h2>
                <a href="{% url 'editar_infoEmpresa' %}" class="editar">Editar Informações</a>
            </div>
            <div class="contentdash">
                <p><strong>Email:</strong>{{empresa.email}} </p>
                <p><Strong>Categoria: </Strong>{{empresa.categoria}} </p>
                <p><Strong>Endereço: </Strong>{{empresa.endereco}} </p>
                <p><strong>Instagram: </strong>{{empresa.instagram}} </p>
                <p><strong>Whatsapp: </strong>{{empresa.whatsapp}} </p>
            </div>
        </div>
    </main>
      {% endif%}
    
    {% endblock %}
    <footer style="background-color: #1b1818; color: #fff; padding: 20px; text-align: center; font-size: 0.9em;">
        <p>&copy; 2025 Geronilton de Oliveira Silva - Todos os direitos reservados.</p>
        
        <div style="margin: 10px 0;">
            <a href="{% url 'termos_de_uso' %}" style="color: #ccc; margin: 0 10px; text-decoration: none;">Termos de Uso</a>
            <a href="{% url 'politica_de_privacidade' %}" style="color: #ccc; margin: 0 10px; text-decoration: none;">Política de Privacidade</a>
            <a href="/contato" style="color: #ccc; margin: 0 10px; text-decoration: none;">Contato</a>
        </div>

        <p>Versão 1.0.0</p>
    </footer>
   </div>
</body>
</html>
</body>
</html>