{% extends "base_login.html" %}

{% block title %}Cadastro de Empresa{% endblock %}

{% block content %}
    <div class="conteiner">
        <div class="cadastro_form">
            <h2>Empresa Cadastro</h2>
            <form method="post">
                {% csrf_token %}
                {{form}}
                <p><input type="submit" value="Registrar"></p>
            </form>
            <div class="cadastros">
                <p><a href="{% url 'login' %}" class="botao-link">Ja possui uma conta? Login</a></p>
            </div>
        </div>
    </div>
{%endblock%}