{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}
{% block content %}
    <main>
        <div class="empresas">
        <h1>Empresas Disponíveis</h1>
        <hr>
        {% if empresas %}
    <div class="grid">
        {% for empresa in empresas %}
        <div class="card">
            <h2>{{ empresa.nome }}</h2>
            <p><strong>Categoria:</strong> {{ empresa.categoria }}</p>
            <p><strong>Endereço:</strong> {{ empresa.endereco }}</p>
            <a href="{% url 'servicos' empresa.id %}" class="btn">Ver Mais</a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p style="text-align: center;">Nenhuma empresa cadastrada ainda.</p>
    {% endif %}
    </div>
</main>
    {% endblock %}
    

