<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo_home.css' %}">
    <title>DashBoard</title>
</head>
<body>
    <div class="conteiner">
        <div class="content">
            <h1>SAMP </h1>
            <p>Sistema de Administração de Mensalidades e Pagamentos</p>
            <div class="logout">
                <p><a href="{% url 'logout_view' %}">SAIR</a></p>
            </div>
            <div class="conteudo_funcoes">           
                <div class="funcionalidades">
                    <p>
                        <a href="{% url 'cadastro_assinantes' %}">Cadastrar um Assinante</a>
                    </p>
                </div>
                <div class="funcionalidades">
                    <p>
                        <a href="{% url 'assinantes' %}">Visualizar Assinantes</a>
                    </p>
                </div>
                <div class="funcionalidades">
                    <p>
                        <a href="{% url 'mensalidades' %}">Visualizar Mensalidades</a>
                    </p>
                </div>
     
            </div>
        </div>
    </div>
    
</body>
</html>