{% extends "base_login.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="conteiner">
        <div class="cadastro_form">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
            <p>Email: </br> <input type="email" name="email"></p>
            <p>Senha: </br> <input type="password" name="senha"></p>
        
                <input class="submit" type="submit" value="Login">
            </form>
            <p><a href="{% url 'empresa_cadastro' %}">Cadastre sua empresa!!</a></p>
        </div>
    </div>
{%endblock%}