{% extends "base_form.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="conteiner">
        <div class="cadastro_form">
            <h1>Login</h1>
            <br>
            <form method="post">
                {% csrf_token %}
            <p>Email: </br> <input type="email" name="email"></p>
            <p>Senha: </br> <input type="password" name="senha"></p>
        
                <input class="submit" type="submit" value="Login">
            </form>
        </div>
    </div>
{%endblock%}