{% extends "dashboard.html" %}
{% load static %}
{% block estilo %}
<link rel="stylesheet" href="{% static 'css/estilo_tabela.css' %}"> 
{% endblock %}
{% block title %}
    Lista de Mensalidades
{% endblock %}

{% block content %}
<main>
    <div class="pesquisa">
        <h2>Mensalidades</h2>
        <form method="get">
            {{ form.busca }}
            <input class="Buscar" type="submit" value="Buscar"> 
        </form>
    </div>
    {% if messages %}
        <div class="mensagens">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="tabela">
        {% if mensalidades %}
        <table>
            <thead>
                <tr>
                    {% if request.user.is_authenticated and request.user.empresa %}
                    <th>Assinante</th>
                    {% else %}
                    <th>Serviço</th>
                    {% endif %}
                    <th>Valor</th>
                    <th>Vencimento</th>
                    <th>Status</th>
                    <th>Data de pagamento</th>
                    <th>Mensalidade criada em</th>
                    {% if request.user.is_authenticated and request.user.empresa %}
                    <th style="text-align: center;" colspan="3">Ações</th>
                    {% endif%}
                 
                </tr>
            </thead>
            <tbody>
                {% for mensalidade in mensalidades %}
                <tr>
                    {% if request.user.is_authenticated and request.user.empresa %}
                    <td>{{ mensalidade.assinatura.assinante.nome }}</td>
                    {% else %}
                    <td>{{ mensalidade.assinatura.servico.nome }}</td>
                    {% endif %}
                    <td>R$ {{ mensalidade.valor }} </td>
                    <td>{{ mensalidade.vencimento }}</td>
                    <td >{{ mensalidade.status }}</td>
                    <td>{% if mensalidade.data_pagamento %}
                        {{ mensalidade.data_pagamento }}
                    {% else %}
                        <span class="sem-pagamento">Aguardando pagamento</span>
                    {% endif %}
                    </td>

                    <td>{{ mensalidade.data_criado }}</td>
                    {% if request.user.is_authenticated and request.user.empresa %}
                    {% if mensalidade.status != "pago" %}
                    <td>
                        <a href="{% url 'definir_mensalidade_pago' mensalidade.id %}" class="confirma">Definir pago</a>
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>
                        <a href="{% url 'atualizar_mensalidade' mensalidade.id %}" class="editar">Atualizar</a>
                    </td>
                    <td>
                        <a href="{% url 'deletar_mensalidade' mensalidade.id %}" class="deletar">Deletar</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="empty">Nenhuma Mensalidade Cadastrada</p>
        {% endif %}
    </div>
    
</main>
{% endblock %}
