
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    display: flex;
    justify-content: center;
    height: 100vh;
    
}

#img-logo{

    display: block; /* Garante que a imagem se comporte como bloco para centralizar no texto */
    margin: 0 auto; /* Centraliza horizontalmente o bloco da imagem */


}

#f-logo{
    text-align: center;
}

.content {
    width: 80%; 
    max-width: 1200px; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


h1 {
    font-size: 2.5rem;
    color: #333;
    margin-left: 8%;
}
.logout{
    text-align: end;
    margin-right: 50px;
    display: flex;
    
}

.logout a{
    text-decoration: none;
    color: red;
}


.conteudo_funcoes {
    margin: 5%;
    gap: 16px; 
}

.funcionalidades {
    text-align: center;
    margin: 0 0 10px 0;
    width: 200px;  
    padding: 20px;
    border: 1px solid #ddd; 
    border-radius: 10px;
    background-color: #1b1818;
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
}


.funcionalidades:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.funcionalidades a {
    text-decoration: none;
    color: #ffffff;  
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease;  
}


.funcionalidades a:hover {
    color: #aaa70e;  
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .content {
        width: 90%;  /* Reduz a largura do conteúdo em telas menores */
    }

    .conteudo_funcoes {
        flex-direction: column;  /* Exibe as funcionalidades em uma coluna */
        align-items: center;  /* Centraliza os itens */
    }

    .funcionalidades {
        width: 80%;  /* Ocupa 80% da largura em telas pequenas */
        margin-bottom: 15px;  /* Adiciona um espaçamento entre os itens */
    }
}




/* From Uiverse.io by ElSombrero2 */ 
.card {
    overflow: visible;
    width: 280px;
    height: 390px;
    margin-top: 50px;
    align-content: center;
    margin-inline: auto;

  }
  
  .contente {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
  }
  
  .front, .back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
    animation: rotation_481 5000ms infinite linear;
  }
  
  .back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .card:hover .contente {
    transform: rotateY(180deg);
  }
  
  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    0% {
      transform: rotateZ(360deg);
    }
  }
  
  .front {
    transform: rotateY(180deg);
    color: white;
  }
  
  .front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .front-content .badge {
    background-color: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
  }
  
  .description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
  }
  
  .title {
    font-size: 11px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .title p {
    width: 50%;
  }
  
  .card-footer {
    color: #ffffff88;
    margin-top: 5px;
    font-size: 8px;
  }
  
  .front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ffbb66;
    position: relative;
    filter: blur(15px);
    animation: floating 2600ms infinite linear;
  }
  
  #bottom {
    background-color: #ff8866;
    left: 50px;
    top: 0px;
    width: 150px;
    height: 150px;
    animation-delay: -800ms;
  }
  
  #right {
    background-color: #ff2233;
    left: 160px;
    top: -80px;
    width: 30px;
    height: 30px;
    animation-delay: -1800ms;
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
